<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Control de Iluminación LED</h1>
            <h3 class="mb-5">
                <em>Almacena tus Dispositivos</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                    Empecemos!!
            </a>
        </div>
    </header>
</main>